/* Resetting default margin, setting font family, and improving font rendering */
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

/* Setting font family for code blocks */
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* Styling DropzoneArea component from Material-UI */
.MuiDropzoneArea-root {
	background-color: transparent !important;
}
/* Styling text and icon color for DropzoneArea */
.MuiDropzoneArea-text, .MuiDropzoneArea-icon {
  color: white !important;/* Setting text and icon color to white */
}